body {
    margin: 0;
    font-family: Arial, sans-serif;
	padding-bottom: 50px;
}

.menu {
    background-color: #333;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

.menu-item a:hover {
    background-color: #575757;
    border-radius: 4px;
}

table.one {
	       margin-left: auto;
           margin-right: auto;
		   BORDER: 1; 
		   CELLSPACING:  10;
          }
		  
.flex-container {
    display: flex;
    justify-content: space-around; 
    align-items: stretch; 
    height: 100vh; 
    padding: 10px;
    background-color: #f5f5f5; 
	-webkit-perspective: 200px;
    perspective: 200px;
    perspective-origin: center 300px;

	
}

.flex-item {
    background-color: #f5f5f5; /* Green background for items */
    color: white;
    padding: 20px;
    flex: 1; /* Flex property to make all items grow equally */
    margin: 10px;
    text-align: center;
    border-radius: 8px;
	margin-left: auto;
    margin-right: auto;
	width: 560px; 
    height: 315px;
}
div.center {
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  
}
h3 {
	text-align: center;
	color: black;
}
.bottom-div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
.gallery {
	-webkit-perspective: 200px;
perspective: 200px;
perspective-origin: center 300px;
	
          }
		  

.skew:hover 
{
    transition: all 3s ease-in;
    transform: scale(1.2);
    opacity: 1;
    border-radius: 10px;
  }
  .skew:hover::after {
    transition: all 3s ease-out;
	transform: scale(1);
  }
